<div ng-controller = "loginCtrl" class="container-fluid">

<div id="main">
<div class="row">
	<div class="col-md-4 col-md-offset-4">
			<div class="login">

					<div class="logo" href="#"></i> {{title}}</div>
					<div class="panel panel-default panel-shadow">
							<div class="avatar">
									<img src="images/guy.png" alt="guy" class="img-circle img-responsive"/>
							</div>
							<form id="myLogin">
									<div class="panel-body">
											<div class="form-group">
													<label for="exampleInputEmail1">Email address</label>
													<input type="email" class="form-control" ng-model="email" id="exampleInputEmail1" placeholder="Enter email">
											</div>
											<div class="form-group margin-none">
													<div class="media">
															<div class="media-body media-middle">
																	<label for="exampleInputPassword1">Password</label>
															</div>
															<div class="media-right media-middle">
																	<a href="#" class="small pull-right">Forgot?</a>
															</div>
													</div>
													<input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="Password">
											</div>
									</div>
									<div class="form-group text-center">
											<button type="button" ng-click="submit()" class="btn btn-primary">Login <i class="md md-lock-open"></i></button>
									</div>
							</form>
					</div>

			</div>
	</div>
</div>
</div>


</div>
